RewriteEngine On

# Block direct access to the uploads directory
RewriteRule ^uploads/ - [F,L]

# Allow direct access to existing files
RewriteCond %{REQUEST_FILENAME} !-f

# Redirect requests for non-existing files to access.php
RewriteRule ^(.*)$ index.php [L,QSA]
